:root {
  --accent: #b5987a;
  --accent-alpha-20: rgba(181, 152, 122, 20%);
  --accent-alpha-70: rgba(181, 152, 122, 70%);
  --background: rgb(30 30 40);
  --color: #c9c9c9;
  --border-color: hsla(0deg, 0%, 100%, 10%);
  --footnote-color: rgba(255, 255, 255, 50%);
}
