<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
<link rel="preconnect" href="https://static.cloudflareinsights.com" crossorigin="anonymous" />
<link rel=preload href='/fonts/glyph-correction.woff2' as="font" type="font/woff2"  crossorigin="anonymous" />
<link rel=preload href="https://sdk.jinrishici.com/v2/browser/jinrishici.js" as="script" type="application/javascript" />

{{ if .Site.Params.enableUtterances }}
    <link rel="preconnect" href="https://utteranc.es" crossorigin="anonymous" />
    <link rel="preconnect" href="https://api.utteranc.es" crossorigin="anonymous" />
    <link rel="preconnect" href="https://api.github.com" crossorigin="anonymous" />
    <link rel=preload href="https://utteranc.es/client.js" as="script" type="application/javascript" />
    <link rel=preload href="https://utteranc.es/stylesheets/themes/github-light/utterances.css" as="style" />
    <link rel=preload href="https://utteranc.es/stylesheets/themes/photon-dark/utterances.css" as="style" />
{{ end }}

{{ if .Params.katex | default .Site.Params.enableKaTeX }}
    <link rel=preload href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/fonts/KaTeX_Main-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel=preload href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/fonts/KaTeX_Math-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel=preload href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/fonts/KaTeX_Size1-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel=preload href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/fonts/KaTeX_Size2-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel=preload href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/fonts/KaTeX_Size3-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
{{ end }}
